#events-table tr, #events-table td {
	height: 24px;
}
#events-table .date {
	width: 80px;
	margin: 0;
}
#events-table .delete {
	width: 20px;
}
#events-table .delete input {
	width: auto;
	min-width: 22px;
	margin: 1px;
	height: 22px;
	margin-top: 1px;
	margin-left: 1px;
}
.tips p {
	margin-bottom: 20px;
}
.demo-box {
	padding: 20px 0;
	width: 875px;
}
