- extends 'mgmt_base.jade'
- load i18n

- block project_content
    .panel.panel-default
        .panel-body.panel-projects.big-panel
            -if error
                .alert.alert-warning.text-center
                    strong {% trans 'Warning!' %}
                    |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
            .row
                -if constraints
                    .col-md-12.text-right
                        input#id_url_new_value(type="hidden", value="{% url 'mgmt:new_constraint' project_name %}")
                        input#id_url_update_value(type="hidden", value="{% url 'mgmt:update_constraint' project_name %}")
                        a.btn(data-toggle="modal", data-target="#modal_add_constraint")
                            i.fa.fa-plus.fa-2x.green
                        a.btn(data-toggle="modal", onclick="updateConstraint()")
                            i.fa.fa-pencil-square-o.fa-2x.orange
                        a.btn(data-toggle="modal", onclick="deleteConstraint()")
                            i.fa.fa-trash-o.fa-2x.red
                    .col-md-12
                        .panel.panel-default
                            .panel-body.panel-constraints
                                input#id_project_name(name="project_name",type="hidden",value="{{project_name}}")
                                #table
                                    table.table.table-hover
                                        thead#thead_kits
                                            tr
                                                th.text-center {% trans "Type" %} 
                                                th.text-center {% trans "Name" %} 
                                                th.text-center {% trans "Stakeholder" %} 
                                                th.text-center {% trans "Description" %} 
                                        tbody#tbody_kits
                                            -for constraint in constraints
                                                tr(id="{{constraint.name}}")
                                                    -if constraint.constraint == "business"
                                                        td#Business {% trans "Business " %}
                                                            i.fa.fa-money
                                                    -else
                                                        td#Technology {% trans "Technology " %}
                                                            i.fa.fa-bar-chart-o
                                                    td(id="{{constraint.name}}") {{constraint.name}}
                                                    td(id="{{constraint.stakeholder}}") {{constraint.stakeholder}}
                                                    td(id="{{constraint.description}}") {{constraint.description}}
                                                    td(id="{{constraint.alternatives}}",style='display:none;') {{constraint.alternatives}}
                    -else
                        .col-md-12.text-right
                            a.btn(data-toggle="modal", data-target="#modal_add_constraint")
                                i.fa.fa-plus.fa-2x.green
                        .col-md-12
                            p#warning-message.text-center.lead {% trans "The project don't have constraints. Please add one to start" %}

    - include 'fragments/modal_add_constraint.jade'
    - include 'fragments/modal_delete_constraint.jade'

    #modals

- block js
    script(type="text/javascript", src="/static/archinotes/js/constraints.js")