- extends 'mgmt_base.jade'
- load i18n

- block css
    link(rel="stylesheet", href="/static/slider/css/ion.rangeSlider.css")
    link(rel="stylesheet", href="/static/slider/css/ion.rangeSlider.skinFlat.css")

- block project_content
    .panel.panel-default
        .panel-body.panel-projects.big-panel
            -if error
                .alert.alert-warning.text-center
                    strong {% trans 'Warning!' %}
                    |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
            form#id_goals_form(action="{% url 'mgmt:update_business_goal' project_name %}", method="post")
                - csrf_token
                .col-md-2
                    h3.harabara.text-center {% trans 'Goals' %}
                        a.btn.custom-padding(data-toggle="modal", data-target="#modal_add_business_goal")
                            i.fa.fa-plus.fa-2x.green
                        a.btn.custom-padding(data-toggle="modal", onclick="deleteBusinessGoal()")
                            i.fa.fa-trash-o.fa-2x.red
                    {{ form.business_goals }}
                .col-md-10
                    .col-md-6
                        input#id_project_name(name="project_name",type="hidden",value="{{project_name}}")
                        input#id_url_get_value(type="hidden", value="{% url 'mgmt:get_business_goal' project_name %}")
                        label.col-md-12.harabara.control-label.text-center.goals-style(for="id_goal") * {% trans 'Goal Description' %}:
                        .col-md-12
                            {{ form.goal }}                
                        label.col-md-12.harabara.control-label.text-center.goals-style(for="id_objective") * {% trans 'Objective' %}:
                        .col-md-12
                            {{ form.objective }} 
                        label.col-md-12.harabara.control-label.text-center.goals-style(for="id_driver") * {% trans 'Driver' %}:
                        .col-md-12
                            {{ form.driver }} 
                    .col-md-6
                        .col-md-6
                            label.col-md-12.harabara.control-label.text-center.goals-style(for="id_stakeholders") * {% trans 'Stakeholders' %}:
                            .row
                                .col-md-8.no-padding-right
                                    {{ form.stakeholders_types }}
                                .col-md-4
                                    a.btn.no-padding(href="javascript:addStakeholder();")
                                        i.fa.fa-plus.green
                                    a.btn.custom-padding(href="javascript:deleteStakeholder();")
                                        i.fa.fa-minus.red
                            {{ form.stakeholders }}
                            label.col-md-12.harabara.control-label.text-center.goals-style(for="id_quality_atributes") * {% trans 'Quality Attributes' %}:
                            .row
                                .col-md-8.no-padding-right
                                    {{ form.quality_atributes_types }}
                                .col-md-4
                                    a.btn.no-padding(href="javascript:addQualityAttribute();")
                                        i.fa.fa-plus.green
                                    a.btn.custom-padding(href="javascript:deleteQualityAttribute();")
                                        i.fa.fa-minus.red
                            {{ form.quality_atributes }}
                        .col-md-6
                            label.col-md-12.harabara.control-label.text-center.goals-style(for="id_measures") * {% trans 'Measure' %}:
                            .col-md-12
                                {{ form.measures }}
                            .col-md-12
                                #chart_div.text-center
                                input#id_chart_min(type="hidden", name="chart_min", value="")
                                input#id_chart_med(type="hidden", name="chart_med", value="")
                                input#id_chart_max(type="hidden", name="chart_max", value="")
                            .col-md-12
                                #range_slider
                                    input#id_slider(type="text",name="slider")
                            .col-md-12
                                .col-md-6.no-padding
                                    label.col-md-12.harabara.control-label.text-center.goals-style-2(for="id_quality_atributes") {% trans 'Min' %}:
                                    .col-md-12.no-padding
                                        {{form.minimum}}
                                .col-md-6.no-padding
                                    label.col-md-12.harabara.control-label.text-center.goals-style-2(for="id_quality_atributes") {% trans 'Max' %}:
                                    .col-md-12.no-padding
                                        {{form.maximum}}

                    .col-md-12.text-center.bottom-margin
                        input.btn.btn-success(type="submit", value="{% trans 'Save' %}")

    - include 'fragments/modal_add_business_goal.jade'
    - include 'fragments/modal_delete_business_goal.jade'

    #modals

- block js
    script(type="text/javascript", src="/static/google/js/jsapi.js")
    script(type="text/javascript", src="/static/slider/js/ion-rangeSlider/ion.rangeSlider.min.js")
    script(type="text/javascript", src="/static/archinotes/js/goals.js")