- extends 'mgmt_base.jade'
- load i18n

- block css
    link(rel='stylesheet', href='/static/slider/css/ion.rangeSlider.css')
    link(rel='stylesheet', href='/static/slider/css/ion.rangeSlider.skinFlat.css')

- block project_content
    .panel.panel-default.panel-projects
        .panel-body
            - if business_goals
                form#id_goals_form(action='', method='post')
                    - csrf_token
                    .col-md-2
                        h3.harabara.text-center {% trans "Goals" %}
                            a.btn(data-toggle='modal', data-target='#add_business_goal_modal')
                                i.fa.fa-plus.fa-2x
                        {{ form.business_goals }}
                    .col-md-10
                        .col-md-6
                            input#id_project_name(name='project_name',type='hidden',value="{{project_name}}")
                            h4.harabara.text-center {% trans "Goal Description" %}
                            {{ form.goal }}                
                            h4.harabara.text-center {% trans "Objective" %}
                            {{ form.objective }} 
                            h4.harabara.text-center {% trans "Driver" %}
                            {{ form.driver }} 
                        .col-md-6
                            .col-md-6
                                h4.harabara.text-center {% trans "Stakeholders" %}
                                .row
                                    .col-md-8
                                        {{ form.stakeholders_types }}
                                    .col-md-4
                                        a.btn.btn-success(href='javascript:addStakeholder();')
                                            i.fa.fa-plus
                                {{ form.stakeholders }}
                                h4.harabara.text-center {% trans "Quality Attributes" %}
                                .row
                                    .col-md-8
                                        {{ form.quality_atributes_types }}
                                    .col-md-4
                                        a.btn.btn-success(href='javascript:addQualityAttribute();')
                                            i.fa.fa-plus
                                {{ form.quality_atributes }}
                            .col-md-6
                                h4.harabara.text-center {% trans "Measure" %}
                                {{ form.measures }}
                                #chart_div.text-center
                                input#id_slider(type="text",name="slider",value="")
                        .col-md-12(align='center',style='padding:10px')
                            input.btn.btn-success(type='submit', value='{% trans "Save" %}')
            - else
                .col-md-2
                    h3.harabara.text-center {% trans "Goals" %}
                        a.btn(data-toggle='modal', data-target='#add_business_goal_modal')
                            i.fa.fa-plus.fa-2x
                    {{ form.business_goals }}
                .col-md-10
                    p#warning-message.text-center {% trans "The project don't have Business Goals. Please add one to start" %}

    .modal.fade(id='add_business_goal_modal', tabindex='-1', role='dialog', aria-labelledby='add_business_goal_modal_label', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                        i.fa.fa-times
                    h3.modal-title.harabara {% trans 'Business Goal' %}
                .modal-body
                    .form-horizontal
                        .form-group
                            .col-md-12
                                label {% trans 'Name' %}:
                                {{form.name}}
                        .form-group
                            .col-md-12.text-center.harabara
                                a.btn.btn-success(href='javascript:addBusinessGoal();') {% trans "Add" %}
                                input.btn.btn-warning(type='reset',data-dismiss='modal', value='{% trans "Cancel" %}')

- block js
    script(type='text/javascript', src='/static/google/js/jsapi.js')
    script(type='text/javascript', src="/static/slider/js/ion-rangeSlider/ion.rangeSlider.min.js")
    script(type="text/javascript")
        $('#id_goals_form').validate({
            rules:{
                goal:{
                    required:true,
                },
                objective:{
                    required:true,
                },
                driver:{
                    required:true,
                }
            },
            showErrors: function (errorMap, errorList) {
                $.each(this.successList, function (index, value) {
                    $(value).popover('hide');
                    $(value).closest('.control-group').removeClass('error').addClass('success');
                });
                return $.each(errorList, function (index, value) {
                    var _popover = $(value.element).popover({
                        trigger: 'manual',
                        placement: 'top',
                        content: value.message,
                        template: '<div class="popover error"><div class="arrow error"></div><div class="popover-inner"><div class="popover-content error"><p></p></div></div></div>'
                    });
                    _popover.data('bs.popover').options.content = value.message;
                    $(value.element).popover('show');
                    $(value.element).closest('.control-group').removeClass('success').addClass('error');
                });
            }
        });
        $(document).ready(function() {
            $('#simple-menu').sidr();
            drawSlider(33, 66);
            $("#id_business_goals option:first").attr('selected','selected');
            $('#id_business_goals').trigger('change');
        });
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart(min, med, max) {
            if(min>0&&med>0&&max>0){
                var data = google.visualization.arrayToDataTable([
                    ['Measure', 'Measure Ranges'],
                    ['FAIL',  min],
                    ['ALMOST',  med],
                    ['SUCCESS', max],
                ]); 
            }
            else{
                var data = google.visualization.arrayToDataTable([
                    ['Measure', 'Measure Ranges'],
                    ['FAIL',  33],
                    ['ALMOST',  33],
                    ['SUCCESS', 33],
                ]);        
            }
            var options = {
                'legend': 'none',
                'pieSliceText': 'label',
                'width':190,
                'height':240,
                'pieStartAngle':180,
                'chartArea': {'width': '90%', 'height': '90%'},
                'colors': ['#e73e3e', '#ffda44', '#98d481']
            };
            var chart = new google.visualization.PieChart($('#chart_div')[0]);
            chart.draw(data, options);
        }
        function drawSlider(fromx, tox) {
            $("#id_slider").ionRangeSlider({
                min: 0,
                max: 100,
                from: fromx,
                to: tox,
                type: 'double',
                step: 1,
                prettify: true,
                hasGrid: true,
                onChange: function (obj) {
                    min=obj['fromNumber'];
                    max=100-obj['toNumber'];
                    med=100-max-min;
                    drawChart(min,med,max);
                },
            });
        }
        $('#id_goals_form').submit(function(event) { 
            $('#id_stakeholders option').prop('selected', true);
            $('#id_quality_atributes option').prop('selected', true);
        });
        $( "#id_business_goals" ).change(function () {
            var name = $('#id_business_goals').val();
            var url_value = "{% url 'mgmt:get_business_goal' project_name %}";
            if(name!=null&&name.length>0){
                $.ajax({
                    dataType : 'json',
                    url : url_value,
                    type : 'GET',
                    data : {'name':name},
                    success : function(data) {
                        var response = data['response']
                        if(response!=null){
                            $('#id_goal').val(response['goal']);
                            $('#id_objective').val(response['objective']);
                            $('#id_driver').val(response['driver']);
                            $('#id_stakeholders').empty();
                            $('#id_quality_atributes').empty();
                            for(i=0;i<response['stakeholders'].length;i++){
                                var value = response['stakeholders'][i].replace(/ /g,"_")
                                var content = $("<option value="+value+">"+response['stakeholders'][i]+"</option>");                   
                                $('#id_stakeholders').append($(content));
                            }
                            for(i=0;i<response['quality_atributes'].length;i++){
                                var value = response['quality_atributes'][i].replace(/ /g,"_")
                                var content = $("<option value="+value+">"+response['quality_atributes'][i]+"</option>");                   
                                $('#id_quality_atributes').append($(content));
                            }
                            $("#id_measures option").filter(function() {
                                return $(this).text() == response['measure']; 
                            }).prop('selected', true);
                            drawChart(response['min'],response['med'],response['max']);
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        });
        function addBusinessGoal(){
            var name = $('#id_name').val();
            if(name==null||name.length==0){
                $('#id_name').attr('placeholder', 'Name can´t be blank');
            }
            else if(name!=null&&name.length>0){
                var value = name.replace(/ /g,"_")
                var content = $("<option value="+value+">"+name+"</option>");                   
                $('#id_business_goals').append($(content));
                $('#id_business_goals option[value="' + value + '"]').prop('selected', true);
                drawChart(33,33,33);
                $('#id_name').attr('placeholder', '');
                $('#id_name').val('');
                $('#id_goal').val('');
                $('#id_objective').val('');
                $('#id_driver').val('');
                $('#id_stakeholders').empty();
                $('#id_quality_atributes').empty();
                $('#add_business_goal_modal').modal('toggle');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        };
        function addStakeholder(){
            var stakeholders_types = $('#id_stakeholders_types').val();
            var stakeholders = $('#id_stakeholders').find('option').map(function() {return this.value;});
            var temp = true;
            if(stakeholders_types!=null&&stakeholders_types.length>0){
                for(i=0;i<stakeholders.length;i++){
                    if(stakeholders_types==stakeholders[i]){
                        temp = false;
                    }
                }
            }
            if(temp){
                var value = stakeholders_types.replace(/ /g,"_")
                var content = $("<option value="+value+">"+stakeholders_types+"</option>");                   
                $('#id_stakeholders').append($(content));
            }
        };
        function addQualityAttribute(){
            var quality_atributes_types = $('#id_quality_atributes_types').val();
            var quality_atributes = $('#id_quality_atributes').find('option').map(function() {return this.value;});
            var temp = true;
            if(quality_atributes_types!=null&&quality_atributes_types.length>0){
                for(i=0;i<quality_atributes.length;i++){
                    if(quality_atributes_types==quality_atributes[i]){
                        temp = false;
                    }
                }
            }
            if(temp){
                var value = quality_atributes_types.replace(/ /g,"_")
                var content = $("<option value="+value+">"+quality_atributes_types+"</option>");                   
                $('#id_quality_atributes').append($(content));
            }
        };
