- extends 'base.jade'
- load i18n

-block title
	title.capitalize-first {% trans 'Workspace' %}

-block navbar
	ul.nav.navbar-nav.navbar-right
		li.active
			a(href="{% url 'mgmt:home' %}") 
				i.fa.fa-briefcase
				| {% trans ' Workspace' %}        
		li.dropdown
			a(class="dropdown-toggle", data-toggle="dropdown")
				i.fa.fa-user
				| {% trans ' User name' %}
				i.fa.fa-caret-down
			ul.dropdown-menu
				li
					a(href="{% url 'mgmt:settings' %}") 
						i.fa.fa-cogs
						| {% trans ' Settings' %}
				li
					a(href="{% url 'mgmt:help' %}") 
						i.fa.fa-question
						| {% trans ' Help' %} 
				li
					a(href="/") 
						i.fa.fa-sign-out
						| {% trans ' Sign Out' %}  

- block content
	-if error
		.alert.alert-warning.text-center
			strong {% trans 'Warning!' %}
			|  {% trans 'The information you are looking for cannot be found.' %} {{error}}
	.row
		.col-md-2.right-space
			.row.text-center
				label.col-md-9.harabara.big-letters(for="id_teams") {% trans ' Teams' %}
				.col-md-3
					a.btn-default(data-toggle="modal", data-target="#modal_add_team")
						i.fa.fa-plus.green.fa-2x
			.row
				{{ form.teams }}
		.col-md-10
			.row.text-center
				label.col-md-10.harabara.big-letters {% trans ' Projects' %}
				.col-md-2
					a.btn-default(data-toggle="modal", data-target="#modal_add_project")
						i.fa.fa-plus.green.fa-2x
			.row
				.panel.panel-default
					.panel-body.panel-projects.big-panel
						#projects
	
	input#proj_url(type="hidden", value="{% url 'mgmt:overview' 'name' %}")
	input#team_projects(type="hidden", value="{% url 'mgmt:get_projects_team' %}")

	- include 'fragments/modal_add_team.jade'
	- include 'fragments/modal_add_project.jade'

- block js
	script(type="text/javascript", src="/static/archinotes/js/management.js") 