- extends 'mgmt_base.jade'
- load i18n

- block project_content
    .panel.panel-default
        .panel-body.panel-projects.big-panel
            -if error
                .alert.alert-warning.text-center
                    strong {% trans 'Warning!' %}
                    |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
            form#id_operations_form(action="{% url 'mgmt:update_operational_scenario' project_name %}", method="post")
                - csrf_token
                .col-md-2
                    input#id_url_get_value(type="hidden", value="{% url 'mgmt:get_operational_scenario' project_name %}")
                    h3.harabara.text-center {% trans "Scenarios" %}
                        a.btn.custom-padding(data-toggle="modal", data-target="#modal_add_operational_scenario")
                            i.fa.fa-plus.fa-2x.green
                        a.btn.custom-padding(data-toggle="modal", onclick="deleteOperationalScenario()")
                            i.fa.fa-trash-o.fa-2x.red
                    {{ form.operational_scenarios }}
                .col-md-10
                    .col-md-8
                        .row
                            .col-md-6
                                .panel.panel-default
                                    .panel-body.panel-scenarios.blue-background
                                        h4.harabara.text-center {% trans "Stakeholder " %}
                                            i.fa.fa-user
                                        {{form.stakeholders}}
                                        {{form.stakeholder_description}}
                            .col-md-6
                                .panel.panel-default
                                    .panel-body.panel-scenarios.purpuple-background
                                        h4.harabara.text-center {% trans "Context " %}
                                            i.fa.fa-cloud
                                        {{form.context}}
                                        {{form.context_description}}
                        .row
                            .panel.panel-default
                                .panel-body.panel-scenarios.green-background
                                    h4.harabara.text-center {% trans "Functionality " %}
                                        i.fa.fa-cogs
                                    {{form.functionality}}
                                    {{form.functionality_description}}
                    .col-md-4   
                        .panel.panel-default
                            .panel-body.panel-scenarios.red-background
                                h4.harabara.text-center {% trans "Inputs " %}
                                    i.fa.fa-sign-in
                                .form-inline
                                    .form-group
                                        {{form.input_name}}
                                        a.btn.btn-success(href="javascript:addInput();")
                                            i.fa.fa-plus
                                {{form.inputs}}
                        .panel.panel-default
                            .panel-body.panel-scenarios.orange-background
                                h4.harabara.text-center {% trans "Outputs " %}
                                    i.fa.fa-sign-out
                                .form-inline
                                    .form-group
                                        {{form.output_name}}
                                        a.btn.btn-success(href="javascript:addOutput();")
                                            i.fa.fa-plus
                                {{form.outputs}}    
                    .col-md-12.text-center
                        input.btn.btn-success(type="submit", value="{% trans 'Save' %}")
  
    - include 'fragments/modal_add_operational_scenario.jade'
    - include 'fragments/modal_delete_operational_scenario.jade'


- block js
    script(type="text/javascript", src="/static/archinotes/js/operational_scenarios.js")