- extends 'mgmt_base.jade'
- load i18n

- block project_content
    .panel.panel-default
        .panel-body.panel-projects.big-panel
            -if error
                .alert.alert-warning.text-center
                    strong {% trans 'Warning!' %}
                    |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
            - else
                -if quality_atributes
                    .col-md-2.no-margin
                        h3.harabara.text-center {% trans 'Quality Attributes' %}
                        #quality_atributes.list-group
                            -for quality_atribute in quality_atributes
                                a.list-group-item(id="{{quality_atribute.quality_atribute}}-{{quality_atribute.quality_atribute_node}}", onclick="onChangeList('{{quality_atribute.quality_atribute}}-{{quality_atribute.quality_atribute_node}}')")
                                    h5.list-group-item-heading {{quality_atribute.quality_atribute}} / {{quality_atribute.quality_atribute_node}}
                                    p.list-group-item-text
                                        .row
                                            .col-md-6.text-center
                                                p.no-padding-no-margin {{quality_atribute.a}}
                                            .col-md-6.text-center
                                                p.no-padding-no-margin {{quality_atribute.b}}
                    .col-md-10
                        h3.harabara.text-center {% trans 'Quality Scenarios' %}
                            a.btn(data-toggle="modal", data-target="#modal_add_quality_requirement")
                                i.fa.fa-plus.fa-2x.green
                        input#id_url_get_value(type="hidden", value="{% url 'mgmt:get_quality_attribute_scenarios' project_name %}")
                        input#id_url_update_value(type="hidden", value="{% url 'mgmt:update_quality_scenarios' project_name %}")
                        #accordion.panel-group
                            #quality_scenarios


    - include 'fragments/modal_add_quality_requirement.jade'

- block js
    script(type='text/javascript', src='/static/archinotes/js/quality_requirements.js') 