- extends 'mgmt_base.jade'
- load i18n

- block project_content   
    #panel.panel.panel-default
        .panel-body.panel-projects.big-panel
            -if error
                .alert.alert-warning.text-center
                    strong {% trans 'Warning!' %}
                    |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
            - else
                - if not stakeholders
                    .row
                        .col-md-10
                            #stakeholders_panel
                                p#warning-message.text-center.lead {% trans "The project don't have Stakeholders. Please add one to start" %}
                        .col-md-2.text-right#options
                            a.btn(data-toggle="modal", data-target="#modal_add_stakeholder")
                                i.fa.fa-plus.fa-2x.green
                - else
                    .row
                        .col-md-10
                            #stakeholders_panel
                                - for stakeholder in stakeholders
                                    a.btn.btn-default.circle.drag(id="{{stakeholder.aux}}", onclick="toggleBtn('{{stakeholder.aux}}')")
                                        -if stakeholder.type == 'Investors'
                                            i.fa.fa-money.fa-4x
                                        -elif stakeholder.type == 'Customers and users'
                                            i.fa.fa-users.fa-4x
                                        -elif stakeholder.type == 'Employees'
                                            i.fa.fa-suitcase.fa-4x
                                        -elif stakeholder.type == 'Regulatory authorities and governments'
                                            i.fa.fa-eye.fa-4x
                                        -elif stakeholder.type == 'Partners and alliances'
                                            i.fa.fa-coffee.fa-4x
                                        -elif stakeholder.type == 'External entities'
                                            i.fa.fa-certificate.fa-4x
                                        -elif stakeholder.type == 'Architects'
                                            i.fa.fa-cogs.fa-4x
                                        -elif stakeholder.type == 'Developers and testers'
                                            i.fa.fa-wrench.fa-4x
                                        -elif stakeholder.type == 'Supply chain associates'
                                            i.fa.fa-truck.fa-4x
                                        p {{stakeholder.name}}
                        .col-md-2.text-right
                            input#id_project_name(type="hidden", value="{{project_name}}")
                            input#id_url_new_value(type="hidden", value="{% url 'mgmt:new_stakeholder' project_name %}")
                            input#id_url_get_value(type="hidden", value="{% url 'mgmt:get_stakeholder' project_name %}")
                            input#id_url_update_value(type="hidden", value="{% url 'mgmt:update_stakeholder' project_name %}")

                            a.btn(data-toggle="modal", data-target="#modal_add_stakeholder")
                                i.fa.fa-plus.fa-2x.green
                            a.btn(data-toggle="modal", onclick="updateStakeholder()")
                                i.fa.fa-pencil-square-o.fa-2x.orange
                            a.btn(data-toggle="modal", onclick="deleteStakeholder()")
                                i.fa.fa-trash-o.fa-2x.red

    - include 'fragments/modal_add_stakeholder.jade'
    - include 'fragments/modal_delete_stakeholder.jade'

    #modals

- block js
    script(type="text/javascript", src="/static/archinotes/js/stakeholders.js")