- extends 'mgmt_base.jade'
- load i18n

- block css
    link(rel='stylesheet', href='/static/org-chart/css/jquery.orgchart.css')

- block project_content   
    #stakeholders_panel.panel.panel-default
        .panel-body.panel-projects.big-panel
            .row
                -if error
                    .alert.alert-warning.text-center
                        strong {% trans 'Warning!' %}
                        |  {% trans 'The information you are looking for cannot be found.' %} {{error}}
                - else
                    - if not utility_tree
                        .col-md-10
                            #stakeholders_panel
                                p#warning-message.text-center.lead {% trans "The project don't have Utility Tree. Please add one to start" %}
                        .col-md-2.text-right#options
                            input#id_url_new_value(type="hidden", value="{% url 'mgmt:new_utility_tree' project_name %}")
                            a.btn(data-toggle="modal", data-target="#modal_add_utility_tree")
                                i.fa.fa-plus.fa-2x.green
                    - else
                        .col-md-12
                            ul#tree.hide
                                li#tree_head {% trans "Utility Tree" %}
                                    ul
                                        -for utility in utility_tree
                                            li(id="{{utility.name}}") {{utility.name}}
                                                ul
                                                    -for node in utility.nodes
                                                        li(id="{{utility.name}}::{{node.node}}") {{node.node}}
                                                            ul
                                                                li(id="{{utility.name}}::{{node.node}}::{{node.score}}") {{node.score}}

                #chart-container

    - include 'fragments/modal_add_utility_tree.jade'
    - include 'fragments/modal_update_node_score_utility_tree.jade'
    - include 'fragments/modal_update_node_utility_tree.jade'
    - include 'fragments/modal_update_utility_tree.jade'
    - include 'fragments/modal_add_utility_tree_node.jade'


    #modify_utility_tree

- block js
    script(type="text/javascript", src="/static/org-chart/js/jquery.orgchart.min.js")
    script(type="text/javascript", src="/static/archinotes/js/utility_tree.js")