- extends 'base.jade'
- load i18n

-block title
    title.capitalize-first Archinotes

-block navbar
    .row.nav-bar
        ul.nav.navbar-nav
            li.active
                a(href='/') {% trans "Home" %}           
            li
                a(href="{% url 'about' %}") {% trans "About" %}   
        form.navbar-form.navbar-right(id='id_sign_in_form', action="{% url 'sign_in' %}", method='post')
            -csrf_token
            .form-inline
                {{ sign_in_form.email }}
                {{ sign_in_form.password }}
                input.btn.btn-success(type='submit', value='{% trans "Sign In" %}')

-block content
    .row
        .jumbotron
            .container
                .col-md-8
                    h1.harabara {% trans "Welcome to Archinotes!" %}
                    p.lead {% trans "Archinotes is a platform that allows users to build architectures collaboratively." %}
                .col-md-4
                    form.form-horizontal(id='id_sign_up_form', action="{% url 'sign_up' %}", method='post')
                        - csrf_token
                        .form-group
                            {{ sign_up_form.email }}
                        .form-group
                            {{ sign_up_form.email_confirm }}
                        .form-group
                            {{ sign_up_form.password }}
                        .form-group
                            {{ sign_up_form.password_confirm }}
                        .form-group.text-center
                            input.btn.btn-primary(type='submit', value='{% trans "Sign Up for Archinotes" %}')
    .row.text-center
        .col-md-10.col-md-offset-1
            .col-md-4
                i.fa.fa-globe.fa-5x
                p.lead {% trans "With the ability to coordinate and control the design process of an architecture in a distributed environment." %}
            .col-md-4
                i.fa.fa-files-o.fa-5x
                p.lead {% trans "Powerful features to facilitate the software architecture design and documentation process." %}
            .col-md-4
                i.fa.fa-users.fa-5x
                p.lead {% trans "Identify and prioritize stakeholders, forces, use cases and quality requirements through different viewpoints." %}

- block js
    script(type="text/javascript", src="/static/archinotes/js/sign_in.js") 
    script(type="text/javascript", src="/static/archinotes/js/sign_up.js)