- load i18n

#modal_add_utility_tree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal_add_utility_tree_label", aria-hidden="true")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    i.fa.fa-times
                h4#modal_add_utility_tree_label.modal-title.harabara {% trans 'New utility tree' %}
            .modal-body
                form.form-horizontal#add_utility_tree_form(action="{% url 'mgmt:new_utility_tree' project_name %}", method="post")
                    - csrf_token
                    .form-group
                        input#id_project_name(type="hidden", name="project_name", value="{{project_name}}")
                        label.col-md-4.control-label(for="id_utility_tree_type") * {% trans 'Type' %}:
                        .col-md-8
                            {{form.utility_tree_type}}
                    .form-group
                        .col-md-6.text-right.harabara
                            button.btn.btn-success#add_stakeholder_add(type="submit" ) {% trans 'Add' %}
                        .col-md-6.text-left.harabara
                            input.btn.btn-warning.add_stakeholder_cancel(type="reset",data-dismiss="modal", value="{% trans 'Cancel' %}")