- load i18n

#modal_update_node_utility_tree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal_update_node_utility_tree_label", aria-hidden="true")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    i.fa.fa-times
                h4#modal_update_node_utility_tree_label.modal-title.harabara {% trans 'Modify utility tree' %}
            .modal-body
                form.form-horizontal#form_update_node_utility_tree(action="{% url 'mgmt:update_node_utility_tree' project_name %}", method="post")
                    - csrf_token
                    input#id_update_url(type="hidden", value="{% url 'mgmt:update_node_utility_tree' project_name %}")
                    input#id_delete_url(type="hidden", value="{% url 'mgmt:delete_node_utility_tree' project_name %}")
                    input#id_qa_u_name(type="hidden", name="qa_name", value="")
                    input#id_qa_u_node_name(type="hidden", name="qa_node_name", value="")
                    input#id_project_name(type="hidden", name="project_name", value="{{project_name}}")
                    .form-group    
                        label.col-md-4.control-label(for="id_name") * {% trans 'Name' %}:
                        .col-md-8
                            input.form-control#id_name(type="text", name="name")
                    .form-group
                        .col-md-4.text-right.harabara
                            button.btn.btn-primary(type="submit" ) {% trans 'Modify' %}
                        .col-md-4.text-center.harabara
                            button.btn.btn-danger.delete_node_utility_tree(type="submit" ) {% trans 'Delete' %}
                        .col-md-4.text-left.harabara
                            input.btn.btn-warning(type="reset",data-dismiss="modal", value="{% trans 'Cancel' %}")