- extends 'base.jade'
- load i18n

-block title
    title.capitalize-first {{ project_name }}

-block navbar
    ul.nav.navbar-nav.navbar-right
        li
            a(href="{% url 'mgmt:home' %}") 
                i.fa.fa-briefcase
                | {% trans " Workspace" %}
        li.dropdown
            a(class="dropdown-toggle", data-toggle="dropdown")
                i.fa.fa-user
                | {% trans " User name" %}
                i.fa.fa-caret-down
            ul.dropdown-menu
                li
                    a(href="{% url 'mgmt:settings' %}") 
                        i.fa.fa-cogs
                        | {% trans " Settings" %}
                li
                    a(href="{% url 'col:settings' %}") 
                        i.fa.fa-cogs
                        | {% trans " Collaboration Settings" %}
                li
                    a(href="{% url 'mgmt:help' %}") 
                        i.fa.fa-question
                        | {% trans " Help" %} 
                li
                    a(href="/") 
                        i.fa.fa-sin-out
                        | {% trans " Sign Out" %}
- block content
    .row
        a.btn.btn-primary(id="simple-menu", href="#sidr", style="position:absolute;left:0;margin-left:auto;margin-right:auto;")
            i.fa.fa-arrow-right
        .col-md-2.text-center
            h2.harabara
                .row
                    i.fa.fa-cloud
                .row
                    {{ project_name }}
        .col-md-10
            ul.nav.nav-pills.nav-justified.harabara
                li
                    a.btn.btn-default.overview(href="{% url 'mgmt:overview' project_name %}") 
                        i.fa.fa-refresh.fa-3x
                        p.p {% trans "Overview" %}
                li
                    a.btn.btn-default.stakeholders(href="{% url 'mgmt:stakeholders' project_name %}") 
                        i.fa.fa-users.fa-3x
                        p {% trans "Stakeholders" %}
                li
                    a.btn.btn-default.goals(href="{% url 'mgmt:goals' project_name %}") 
                        i.fa.fa-bullseye.fa-3x
                        p {% trans "Goals" %}
                li
                    a.btn.btn-default.constraints(href="{% url 'mgmt:constraints' project_name %}") 
                        i.fa.fa-ban.fa-3x
                        p {% trans "Constraints" %}
                li
                    a.btn.btn-default.operations(href="{% url 'mgmt:operations' project_name %}") 
                        i.fa.fa-eye.fa-3x
                        p {% trans "Operations" %}
                li
                    a.btn.btn-default.utility_tree(href="{% url 'mgmt:utility_tree' project_name %}") 
                        i.fa.fa-sitemap.fa-3x
                        p {% trans "Utility Tree" %}
                li
                    a.btn.btn-default.user_stories(href="{% url 'mgmt:quality_requirements' project_name %}") 
                        i.fa.fa-compass.fa-3x
                        p {% trans "Quality Req" %}
    hr
    .row
        -block project_content
        -endblock
    .row
        #sidr(align='center')
            ul
                li
                    a(href="{% url 'editor:context' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Context" %}
                li
                    a(href="{% url 'editor:functional' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Functional" %}
                li
                    a(href="{% url 'editor:deployment' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Deployment" %}
                li
                    a(href="{% url 'editor:information' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Information" %}
                li
                    a(href="{% url 'editor:concurrency' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Concurrency" %}
                li
                    a(href="{% url 'editor:development' project_name %}") 
                        i.fa.fa-sitemap.fa-2x
                        p.lead {% trans " Development" %}   
- block js
    script(type="text/javascript")
        $(document).ready(function() {
            $('#simple-menu').sidr();
        });